.footer_constructor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.price{
    display: flex;
    flex-direction: row;
}

.constructor_list{
    overflow-y: auto!important;
    height: 80% !important;
}

.general_burger_constructor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 73vh;
}

.middle_burger_constructor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 80vh;
    min-height: 80px;
}
